body {
    background-color: #FDEEE7;
    color: #D677;
    letter-spacing: 0.04cm;
    font : 16px/28px "Lilita One", sans-serif;
}

.container {
    width: 1400px;
    margin : auto;
    background-color: white;
}

.header{
    padding : 20px;
}

.header .judul {
font-size: 40px;
}

.header ul {
    padding: 0; 
    margin: 0; 
}

.header ul li {
display : inline-block;
margin-top: 20px;
margin-right:5px;
font-size: 12.1px;
font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color : black;
}

.header  a:hover{
    background-color: #D677;
    color: white;
}

.hero{
    height: 250px;
    background-color: #FDE0E4;
    background-image: url("img");
}

.content{
    padding : 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.content h2{
    font-size: 20px;
    color: black;
}

.content .penulis{
    color: black;
    font-size: 11px;
    margin-top: -20px;
}

.content .penulis a{
    color: salmon;
    text-decoration: none;
}
.content p{
    margin-bottom: 30px;
    font-size: 14px;
    color: black;   
    ;
}



/* h1{
font-size: 50px;
color: #D677;
margin-left: 370px;
margin-top: 200px;
font-family: "Single Day", cursive;
}

h2{
    font-size: 40px;
    letter-spacing: 0.04cm;
    color: #D677;
    margin-left: 300px;
    margin-top: -40px;
     font-family: "Lilita One", sans-serif;;
}*/


/* img{
    margin-top: -150px;
    margin-left: 500px;
}  */


  
